
<header>
    
    <div class="header-bar">
        this is header
    </div>
    
    <!-- <style>
    .header-bar {
    background-color: lightblue;
    height: 20vh;
    border-radius: 2px;
    }
    </style> -->
</header>
