<h1>Sign In</h1>
<form action="/users/createSession" method="post">
    <input type="text" name="email" placeholder="your email here">
    <input type="text" name="password" placeholder="your password here">
    <input type="submit" value="Sign In">

</form>