<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %> </title>
</head>
<body>
    
<h1>Hi this is <b><%= locals.profile_user.name %></b> profile</h1>
<li>
    <a href="/users/signOut">Sign Out </a>
</li>

</body>
</html>